.App {
  text-align: center;
}

.mainPageButtons{
  margin-top: 5%;
}

.mainPageButtons button{
  display: block;
}


.bottomLogOut{
  margin-top: 3%;
}

.dropdown-basic{
  margin-bottom: 50px;
}

.returnHome{
  margin-top: 40px;
}